<div class="row">
<div class="col-md-6 col-md-offset-3">
<header><h1 class="admin-heading">Site Administration</h1>
<nav class="admin-nav">
	<ul>
		<li><a href="/admin">Admin Home</a></li>
		<li><a href="/keys">API Keys</a></li>
	</ul>
</nav>
</header>
</div>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<h4 class="key-subhead">API Key Manager</h4>
</div>
</div>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<table id="key-manager" class="table">
<thead>
<tr><th>API Keys</th>
<th>Admin?</th>
<th>Delete?</th>
</tr>
</thead>
<tbody>
<% @keys.each do |key| %>

<tr>
<td class="each-api-key"><%= key.secret_key %></td>
<td>
<% if key.admin == true %>
	Admin
<% end %>
</td>
<td>
<%= form_for :key, url: { :action => 'destroy' }, :html => { :class => 'delete-key-form' }, :method => 'delete' do |f| %>
	<%= f.hidden_field :id, :value => key.id %>
	<%= f.submit 'Delete', :class => 'delete-key' %>
<% end %>

</td>
</tr>

<% end %>
</tbody>
</table>


<%= form_for :key, url: { :action => 'create' } do |f| %>
	<%= f.text_field :secret_key, :id => 'api-key-field', :placeholder => 'Generate a new key', :value => '' %>
	<%= button_tag "Generate!", :type => 'button', :id => 'key-generate' %>
	<%= f.submit 'Save', :class => 'save-key' %>
	<%= f.check_box :admin, :class => 'admin-check' %>
	<%= f.label :admin, 'Is admin?' %>
<% end %>
</div>
</div>

<script type="text/javascript">
	//make sure the generate key in api keys admin works
	set_key_generate_handler()
</script>